.calculator {
  background: white;
  border-radius: 12px;
  padding: 2rem;
  color: var(--dark-blue);
  max-width: 550px;
  margin: 2rem auto;
  border: 6px solid var(--primary-color);
}

.calculatorTitle {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
  text-align: center;
}

.calculatorForm {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.inputGroup {
  display: flex;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
  height: 50px;
  background-color: var(--light-blue);
  border: 1px solid var(--gray-200);
}

.decrementBtn,
.incrementBtn {
  border: none;
  background-color: var(--primary-color);
  color: var(--primary-light);
  font-size: 1.5rem;
  height: 50px;
  width: 50px;
  cursor: pointer;
  transition: all 0.25s;
}

.decrementBtn:hover,
.incrementBtn:hover {
  opacity: 0.8;
}

.decrementBtn:active,
.incrementBtn:active {
  opacity: 0.9;
}

.numberInput {
  background-color: transparent;
  border: none;
  color: var(--dark-blue);
  padding: 0.5rem;
  text-align: center;
  width: 100%;
  outline: none;
}

.numberInput::-webkit-outer-spin-button,
.numberInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.result {
  background-color: var(--light-blue);
  border-radius: 8px;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  border: 1px solid var(--primary-light);
}

.calculation {
  font-size: 0.95rem;
  margin-bottom: 1rem;
  color: var(--dark-blue);
}

.totalPrice {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.priceLabel {
  font-size: 1.1rem;
  font-weight: 500;
}

.price {
  font-size: 2.2rem;
  font-weight: 700;
  color: var(--primary-color);
}

.disclaimer {
  font-size: 0.85rem;
  color: #6b7280;
  text-align: center;
  margin: 0;
}

/* =========== Media Queries =========== */

/* Medium devices (min-width: 768px) */
@media (min-width: 768px) {
  .calculatorForm {
    flex-direction: row;
    justify-content: space-between;
  }

  .formGroup {
    width: 48%;
  }
}

/* Large devices (min-width: 1024px) */
@media (min-width: 1024px) {
  .calculator {
    padding: 2.5rem;
    max-width: 650px;
  }

  .calculatorTitle {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .inputGroup {
    height: 56px;
  }

  .decrementBtn,
  .incrementBtn {
    height: 56px;
    width: 56px;
  }

  .price {
    font-size: 2.5rem;
  }
}